* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Orbitron', sans-serif;
  letter-spacing: 2px;
}
:root {
  --bg-main: #0d1b2a;
  --color-water: #00a8e8;
  --color-accent: #39ff14;
  --color-hit: #ff4500;
  --color-miss: #4d648d;
  --color-ship: #a1887f;
  --text-main: #eaeaea;
}
html,
body {
  height: 100%;
  width: 100%;
  background-color: var(--bg-main);
  /* font-family: 'Orbitron', sans-serif; */
}
header {
  width: 100%;
  height: 60px;
  background-color: #333;
  color: var(--text-main);
  display: flex;
  align-items: center;
  justify-content: center;
}
/* Modal styles */
.modal {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgb(0, 0, 0);
  background-color: rgba(0, 0, 0, 0.4);
  padding-top: 60px;
}

.modal-content {
  background-color: white;
  margin: 5% auto;
  padding: 20px;
  border: 1px solid #888;
  width: 80%;
  max-width: 400px;
  text-align: center;
}

input {
  padding: 10px;
  width: 80%;
  margin-top: 10px;
}

#submit-name {
  padding: 10px;
  width: 80%;
  margin-top: 10px;
  background-color: #4caf50;
  color: white;
  border: none;
  cursor: pointer;
}

#submit-name:hover {
  background-color: #45a049;
}

.content {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 100%;
  height: calc(100vh - 60px);
  gap: 1rem;
}
.drag-wrapper {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  height: 725px;
}
.grid-wrapper {
  display: flex;
  align-items: center;
  gap: 2rem;
}
.board-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 600px;
  gap: 1rem;
}
.player-board-div,
.computer-board-div {
  min-height: 600px;
}
.utility-button-div {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
.board {
  display: grid;
  grid-template-columns: repeat(10, 1fr);
  grid-template-rows: repeat(10, 1fr);
  background-image: linear-gradient(to bottom, var(--color-water), #081ee7);
  background-repeat: no-repeat;
  border: 3px solid black;
}
.grid-cell {
  width: 50px;
  height: 50px;
  background-color: transparent;
  border: 1px solid #0519ce3b;
  /* border-color: #0519ce3b; */
}
.grid-cell {
  border: 1px solid rgba(255, 255, 255, 0.1);
  transition: background-color 0.3s ease;
}

.grid-cell:hover {
  background-color: rgba(255, 255, 255, 0.2);
  transform: scale(1.05);
  cursor: pointer;
}

.grid-cell.ship {
  background: var(--color-ship);
}
.grid-cell.miss {
  background: var(--color-miss);
}
.grid-cell.hit {
  background: var(--color-hit);
}
.drag-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(10, 1fr);
  background-image: linear-gradient(to bottom, var(--color-water), #081ee7);
  background-repeat: no-repeat;
  border: 3px solid black;
}

.drag-cells {
  width: 50px;
  height: 50px;
  background-color: transparent;
  border: 1px solid #0519ce3b;
}
.draggable-ship {
  background-color: var(--color-ship);
}
.grid-cell.highlight {
  border: 2px dashed rgba(0, 0, 0, 0.5);
}
.start-game-button {
  flex-shrink: 0;
  background: transparent;
  border: none;
  font-size: 0;
  color: transparent;
  cursor: pointer;
  width: 25px;
  height: 50px;
  border-style: solid;
  border-color: var(--color-accent);
  border-width: 0 10px 10px 0;
  transform: rotate(45deg) scale(1.5);
  transition: border-color 0.2s ease-in-out;
}
.start-game-button:hover {
  border-color: #28a745; /* A slightly darker green on hover */
}
.ships-remaining {
  color: var(--text-main);
}
.utility-button {
  background: #2b2d42;
  color: var(--text-main);
  border: none;
  padding: 10px;
  margin: 5px;
  border-radius: 8px;
  font-weight: bold;
  box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.9);
  transition: background 0.3s ease;
}

.utility-button:hover {
  background: #8d99ae;
}
.wrapped-button {
  font-size: larger;
  border-radius: 1rem;
  height: 80px;
  width: 200px;
}
