* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html,
body {
  height: 100%;
  width: 100%;
}
header {
  width: 100%;
  height: 60px;
  background-color: #333;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
}
/* Modal styles */
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0, 0, 0); /* Black background */
  background-color: rgba(0, 0, 0, 0.4); /* Black with transparency */
  padding-top: 60px;
}

.modal-content {
  background-color: white;
  margin: 5% auto;
  padding: 20px;
  border: 1px solid #888;
  width: 80%; /* Could be more or less, depending on screen size */
  max-width: 400px;
  text-align: center;
}

input {
  padding: 10px;
  width: 80%;
  margin-top: 10px;
}

#submit-name {
  padding: 10px;
  width: 80%;
  margin-top: 10px;
  background-color: #4caf50;
  color: white;
  border: none;
  cursor: pointer;
}

#submit-name:hover {
  background-color: #45a049;
}

.content {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 100%;
  height: calc(100vh - 60px);
}
.board {
  display: grid;
  grid-template-columns: repeat(10, 1fr);
  grid-template-rows: repeat(10, 1fr);
}
.grid-cell {
  width: 50px;
  height: 50px;
}
.grid-cell.ship {
  background-color: gray;
}
.grid-cell.miss {
  background-color: blue;
}
.grid-cell.hit {
  background-color: red;
}
.drag-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(10, 1fr);
}

.drag-cells {
  width: 50px;
  height: 50px;
  /* border: none; */
}
.draggable-ship {
  background-color: gray;
}
.grid-cell.highlight {
  border: 3px dashed rgba(0, 0, 0, 0.5);
}
